@import "elements";
.content-block {
  width: 100%;
  background: #ffffff;
  .drop-shadow(0, 2px, 2px, 0.2);
}
.rank-item{
  background: #00a9ba;
  color: #ffffff;
  text-align: center;
  position: relative;
  border-radius: 50%;
  border: 1px solid #00a9ba;
  &.inactive {
    color: #c0ced4;
    border: 1px solid #c0ced4;
    background: transparent;
  }
}
.rating-statistic-item{
  .rank-item;
  width: 17px;
  height: 17px;
  line-height: 17px;
  margin-right: 5px;
  font-size: 0.7em;
}
.linear-table {
  border-bottom: 1px solid #c0ced4;
}